<!DOCTYPE html>

<html>
    <head>
        <title>Application process 2</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
    </head>
    <body>
        <a href="https://codecool.hu/" target="_blank"><img src="/static/codecool-logo.jpg" alt="Codecool logo" height="100px"></a>
        <h2>Application process - SQL part 2</h2>
        <p>This is a demo page prepared by <a href="https://github.com/danielEros" target="_blank">Daniel Eros</a> at <a href="https://codecool.hu/" target="_blank">Codecool</a> programming school to practice web application development with the <a href="http://flask.pocoo.org/" target="_blank">Flask microframework</a> for Python including basic <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a> queries.</p>
        <p>Please click on the following links to access the different functions of this web application:</p>
        <ol>
            <li><a href="/mentors">Mentors and schools page</a></li>
            <li><a href="/all-school">All school page</a></li>
            <li><a href="/mentors-by-country">Mentors by country page</a></li>
            <li><a href="/contacts">Contacts page</a></li>
            <li><a href="/applicants">Applicants page</a></li>
            <li><a href="/applicants-and-mentors">Applicants and mentors page</a></li>
        </ol>
    </body>
</html>