<!DOCTYPE html>

<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
    </head>
    <body>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <h3>The applied SQL query: <br><br><span id="SQL-query">{{ sql_query }}</span></h3>
        <br>
        <table border="1">
            <tr>
                {% for column in column_list %}
                        <th>{{ column }}</th>
                {% endfor %}
            </tr>
            {% for row in sql_result %}
                <tr>  
                    {% for data in row%}
                        <td>{{ data }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <br>
        <a href="/">Back to the index page</a>
        <br>
        <p>The database which the SQL query was applied on looks like this:</p>
        <img src="/static/application_process_assignment_part_2.png" alt="Database structure" id="data_structure">
    </body>
</html>